<div>
	<h1 >Categories</h1>	
	<ul >
		<% @groups.each do |category| %>
		 <li >
			 <%# <%= image_tag category.icon, alt: 'icon'%> 
			 <div>
				 <%= link_to category.name.capitalize, user_group_path(current_user, category)%>
				 <p><span> $</span><%= category.purchases.sum { |item| item.entity.amount } %></p>
			 </div>
			 <%= button_to 'Delete', user_group_path(current_user, category), method: :delete %>
		 </li>
		<% end %>
	</ul>
	<div >
		<%= link_to 'Add a new category', new_user_group_path(current_user) %>
	</div>
</div>