<header class="navbar">
	<%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign-out-btn"%>
	<h2 >Categories</h2>	
</header>

<div class="categories">
	<ul  >
		<% @groups.each do |category| %>
		 <li class="category" >
			  <%= image_tag "https://wymararesortandvillas.com/wp-content/uploads/2018/02/Stelle-FoodImg-1.jpg", height: 50 , alt: 'icon'%> 
			 <div class="category-info">
				 <%= link_to category.name.capitalize, user_group_path(current_user, category)%>
				 <p><span> $</span><%= category.purchases.sum { |item| item.entity.amount } %></p>
			 </div>
			 <%= button_to 'Delete', user_group_path(current_user, category), method: :delete, class: "delete-btn" %>
		 </li>
		<% end %>
	</ul>
	<div class="new-category" >
		<%= link_to 'Add a new category', new_user_group_path(current_user) %>
	</div>
</div>